<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <h1>Account</h1>-->
<!--  <hr>-->

  <%#= form.fields_for :user do |user_form| %>

<!--    <div class="col col-12">-->
<!--      <div class="row">-->
<!--        <div class="form-group col-6">-->
<!--          <%#= user_form.label :name %><br>-->
          <%#= user_form.text_field :name %>
<!--        </div>-->
<!--        <div class="form-group col-6">-->
<!--          <%#= user_form.label :last_name %><br>-->
          <%#= user_form.text_field :last_name %>
<!--        </div>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <%#= user_form.label :email %><br>-->
        <%#= user_form.text_field :email %>
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <%#= user_form.label :password %><br>-->
        <%#= user_form.password_field :password %>
<!--      </div>-->
<!--    </div>-->
  <%# end %>

<!--  <h1>Profile</h1>-->
<!--  <hr>-->

  <%# if (not form.object.persisted?) %>
<!--    <div class="field">-->
      <%#= form.label :user_id %>
      <%#= form.text_field :user_id, :readonly => form.object.persisted? %>
<!--    </div>-->
  <%# end %>

<div class="card-container col-7 mx-auto">
  <div class="card">
    <div class="card-header">
      <h2>Profile Attributes</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">

          <div class="field">
            <%= form.label :country %><br>
            <%= form.text_field :country, class:"form-control"  %>
          </div>

          <div class="field">
            <%= form.label :city %><br>
            <%= form.text_field :city, class:"form-control"  %>
          </div>

          <div class="field">
            <%= form.label :gps_location %><br>
            <%= form.text_field :gps_location, class:"form-control"  %>
          </div>

        </div>

        <div class="col-8">

          <div class="field">
            <%= form.label :image %><br>
            <%= form.file_field :image %><br><br>
          </div>

          <div class="field">
            <%= form.label :biography %><br>
            <%= form.text_area :biography, class:"form-control" %>
          </div>

        </div>

      </div>


      <br>

    </div>
    <div class="card-footer">
      <div class="actions col-3" style="float: right">
        <%= form.submit class:"form-control" %>
      </div>
    </div>
    </div>
  </div>
  <br>
<% end %>
