
<div class="card">
  <div class="card-body">
    <form action="">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <div>
              <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" width="150vw" height="150vw" style="margin: 5%">
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-dark btn-sm">Select photo</button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="profile-city">City:</label>
            <select class="form-control" id="profile-city" name="profile-city">
              <option>Santiago</option>
              <option>Roma</option>
              <option>Sydney</option>
            </select>
          </div>
          <div class="form-group">
            <label for="profile-country">Country:</label>
            <select class="form-control" id="profile-country" name="profile-country">
              <option>Brasil</option>
              <option>Chile</option>
              <option>Francia</option>
            </select>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Give my GPS location
            </label>
          </div>
        </div>

      </div>
    </form>
    <div class="form-group">
      <label for="profile-biography">Biography:</label>
      <textarea class="form-control" id="profile-biography" name="profile-biography" placeholder="<%=@user.profile.biography %>"></textarea>
    </div>
    <hr>
    <div class="col-col-12">
      <div class="row">
        <div class="form-group col-6">
          <label for="user-name ">Name:</label>
          <input type="text" class="form-control" placeholder="<%=@user.name %>" id="user-name" name="user-name">
        </div>
        <div class="form-group col-6">
          <label for="user-last-name">Last name:</label>
          <input type="text" class="form-control" placeholder="<%=@user.last_name %>" id="user-last-name" name="user-last-name">
        </div>
      </div>
      <div class="form-group">
        <label for="user-email">Email:</label>
        <input type="email" class="form-control" placeholder="<%=@user.email %> "id="user-email" name="user-email">
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="user-password">Password:</label>
          <input type="password" class="form-control" id="user-password" name="user-password">
        </div>

        <div class="form-group col-6">
          <label for="user-password">Re-Enter Password:</label>
          <input type="password" class="form-control" id="user-re-p assword" name="user-re-password">
        </div>
      </div>

    </div>
    <a class="btn btn-outline-dark" type="submit" style="float:right"
              href="<%= user_profile_view_path %>">Finish</a>
  </div>
</div>
