<p id="notice"><%= notice %></p>

<h1>Blacklists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Exit date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blacklists.each do |blacklist| %>
      <tr>
        <td><%= blacklist.user %></td>
        <td><%= blacklist.exit_date %></td>
        <td><%= link_to 'Show', blacklist %></td>
        <td><%= link_to 'Edit', edit_blacklist_path(blacklist) %></td>
        <td><%= link_to 'Destroy', blacklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blacklist', new_blacklist_path %>
