<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @block_list.user %>
</p>

<p>
  <strong>Exit date:</strong>
  <%= @block_list.exit_date %>
</p>

<%= link_to 'Edit', edit_block_list_path(@block_list) %> |
<%= link_to 'Back', block_lists_path %>
