<div class="container-fluid">
  <!-- Nav pills -->
  <div class="row">
    <div class="col-2">
      <ul class="nav nav-pills flex-column" role="tablist">
        <li class="nav-item">
          <h2>Administration</h2>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#manage-admins">Administrators</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" data-toggle="pill" href="#create-admin">Create admin</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#manage-users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#manage-posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#blacklist">Blacklist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#dumpster">Dumpster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#suspension-list">Suspension list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#block-list">Block list</a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="col-10">
      <div class="tab-content">
        <div id="manage-admins" class="container tab-pane active">
          <h3>Manage administrators</h3>
          <p>You can create a new admin <a href="<%= session_sign_up_path %>">here</a>
          or make a current user an admin</p>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Geofence</th>
              <th>Is super admin</th>
              <th>Creation date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <% @admins.each do |admin| %>
              <!--:email, :geofence, :super_admin, :created_at-->
            <tr>
              <td><%= admin[0] %></td>
              <td><%= admin[1] %></td>
              <td><%= admin[2] %></td>
              <td><%= admin[3] %></td>
              <td><button class="btn btn-info fas fa-edit" data-toggle="modal" data-target="#edit-admin-modal"></button></td>
              <td><button class="btn btn-danger fas fa-trash-alt" data-toggle="modal"
                          data-email="<%= admin[0] %>" data-btn-type="delete-admin"
                          data-target="#delete-user-admin-modal"></button></td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="manage-users" class="container tab-pane fade">
          <h3>Manage users</h3>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Last access</th>
              <th>Creation date</th>
              <th>Edit</th>
              <th>Make admin</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.last_access %></td>
              <td><%= user.created_at %></td>
              <td><button class="btn btn-info fas fa-edit"></button></td>
              <td><button class="btn btn-success fas fa-user-cog" data-toggle="modal"
                          data-email="<%= user.email %>"
                          data-target="#make-user-admin-modal" data-btn-type="make-user-admin"></button></td>
              <td><button class="btn btn-danger fas fa-trash-alt" data-toggle="modal"
                          data-email="<%= user.email %>"
                          data-target="#delete-user-admin-modal" data-btn-type="delete-user"></button></td>
            </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="manage-posts" class="container tab-pane fade">
          <h3>Manage posts</h3>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Title</th>
              <th>Content</th>
              <th>City</th>
              <th>Country</th>
              <th>GPS location</th>
              <th>Creation date</th>
              <th>Report</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <% @posts.each do |post| %>
              <tr>
                <!--:email, :title, :content, :city, :country, :gps_location, :created_at-->
                <td><%= post[0] %></td>
                <td><%= post[1] %></td>
                <td><%= post[2] %></td>
                <td><%= post[3] %></td>
                <td><%= post[4] %></td>
                <td><%= post[5] %></td>
                <td><%= post[6] %></td>
                <td><button class="btn btn-warning fas fa-exclamation-triangle" data-toggle="modal"
                            data-owner="<%= post[0] %>" data-title="<%= post[1] %>"
                            data-target="#delete-report-post-modal" data-btn-type="report-post"></button></td>
                <td><button class="btn btn-danger fas fa-trash-alt" data-toggle="modal"
                            data-owner="<%= post[0] %>" data-title="<%= post[1] %>"
                            data-target="#delete-report-post-modal" data-btn-type="delete-post"></button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="blacklist" class="container tab-pane fade">
          <h3>Blacklist</h3>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @blacklist_users.each do |bl_user| %>
              <!--:email, :created_at, :exit_date-->
              <tr>
                <td><%= bl_user[0] %></td>
                <td><%= bl_user[1] %></td>
                <td><%= bl_user[2] %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt"
                            data-target="#remove-from-list-modal" data-btn-type="remove-from-list"
                            data-removed-user="<%= bl_user[0] %>"
                            data-list-type="Blacklist" data-toggle="modal"></button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="dumpster" class="container tab-pane fade">
          <h3>Dumpster</h3>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Post</th>
              <th>Owner</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the dumpster</th>
            <tr>
            </thead>
            <tbody>
            <% @dumpster_posts.each do |d_post| %>
              <!--:title, :email, :created_at, :exit_date-->
              <tr>
                <td><%= d_post[0] %></td>
                <td><%= d_post[1] %></td>
                <td><%= d_post[2] %></td>
                <td><%= d_post[3] %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt" data-toggle="modal"
                            data-target="#remove-from-dumpster-modal" data-btn-type="remove-from-dumpster"
                            data-dumpster-title="<%= d_post[0] %>" data-dumpster-owner="<%= d_post[1] %>">
                </button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="suspension-list" class="container tab-pane fade">
          <h3>Suspension list</h3>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @suspension_list_users.each do |sl_user| %>
              <!--:email, :created_at, :exit_date-->
              <tr>
                <td><%= sl_user[0] %></td>
                <td><%= sl_user[1] %></td>
                <td><%= sl_user[2] %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt"
                            data-toggle="modal" data-target="#remove-from-list-modal"
                            data-removed-user="<%= sl_user[0] %>"
                            data-list-type="Suspension List" data-btn-type="remove-from-list"></button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="block-list" class="container tab-pane fade">
          <h3>Block list</h3>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @block_list_users.each do |bl_user| %>
              <!--:email, :created_at, :exit_date-->
              <tr>
                <td><%= bl_user[0] %></td>
                <td><%= bl_user[1] %></td>
                <td><%= bl_user[2] %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt"
                            data-removed-user="<%= bl_user[0] %>"
                            data-target="#remove-from-list-modal" data-btn-type="remove-from-list"
                            data-list-type="Block List" data-toggle="modal"></button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="remove-from-dumpster-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove user from Dumpster</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to <i>remove</i> the post <b id="dump-title"></b> by <b id="dump-owner"></b> from the dumpster?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-user-admin-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="delete-user-admin-title" class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to delete <b id="user-mail-text"></b>?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="delete-report-post-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="delete-report-title" class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Are you sure that you want to <i id="delete-report-text"></i> the post <b id="post-title"></b> by <b id="post-owner"></b>?</p>
      </div>
      <div class="modal-footer">
        <button id="delete-report-button" class="btn">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="make-user-admin-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Make user admin</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to make <b id="make-user-admin-text"></b> an admin?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-success">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="remove-from-list-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="modal-remove-from-list-title" class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to <i>remove</i> <b id="removed-user-text"></b> from the <b id="removed-from-list-type-text"></b>?</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-danger">Accept</button>
      </div>
    </div>
  </div>
</div>