<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'js_admin'%>
  <%= stylesheet_link_tag 'admins'%>
</head>
<body>
<% if user_signed_in? && current_user.is_admin %>
<div class="container-fluid">
  <!-- Nav pills -->
  <div class="row">
    <div class="col-2">
      <ul class="nav nav-pills flex-column" role="tablist">
        <li class="nav-item">
          <h2>Administration</h2>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#manage-users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#manage-posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#blacklist">Blacklist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#dumpster">Dumpster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#suspension-list">Suspension list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#block-list">Block list</a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="col-10">
      <div class="tab-content">
        <div id="manage-users" class="container tab-pane active">
          <h3>Manage users</h3>
          <% if current_user.is_super_admin %>
            <b>If you want to create a new administrator, you have 2 options:</b>
            <ul>
              <li>In this section, make a current user an administrator.</li>
              <li>Create a new administrator. For that, <%= link_to "log out", destroy_user_session_path, method: :delete %>,
                create a new user and then do it administrator.</li>
            </ul>
          <% end %>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th class="FIRST-CHILD"></th>
              <th>Name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Last access</th>
              <th>Creation date</th>
              <th>Geofence</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
            <tr>
              <td <%= "data-tooltip=tooltip title=Admin" if user.is_admin %> class="FIRST-CHILD"><%= image_tag("gold_crown.png", height: "25px", width: "30px") if user.is_admin %></td>
              <td><%= user.name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.last_access %></td>
              <td><%= user.created_at %></td>
              <td><%= user.get_geofence %></td>
              <td>
                  <button class="btn btn-primary" data-toggle="dropdown"><i class="fas fa-tools"></i></button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="<%= user_profile_view_path(user_profile_id: user.id) %>">View profile</a>
                    <% if current_user.is_super_admin && user.is_admin %>
                      <a class="dropdown-item" data-toggle="modal" data-btn-type="edit-admin" data-user-id="<%= user.id %>"
                         data-target="#edit-admin-modal" data-email="<%= user.email %>"
                         data-admin-id="<%= user.get_admin.id %>" data-geofence="<%= user.get_admin.geofence %>">Edit admin</a>
                    <% else %>
                      <a class="dropdown-item" data-toggle="modal" data-btn-type="edit-user" data-user-id="<%= user.id %>"
                         data-target="#edit-user-modal" data-email="<%= user.email %>">Edit user</a>
                    <% end %>
                    <% if current_user.is_super_admin %>
                      <% if user.is_admin %>
                        <%= link_to 'Stop being admin', user.get_admin, method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure that you want ' + user.email + ' to stop being an administrator?' } %>
                      <% else %>
                        <%#= link_to 'Make user admin', create_admin_path("admin[user_id]": user.id), method: :post %>
                        <a class="dropdown-item" data-toggle="modal" data-btn-type="make-user-admin" data-user-id="<%= user.id %>"
                           data-target="#make-user-admin-modal" data-email="<%= user.email %>">Make user admin</a>
                      <% end %>
                    <% end %>
                    <% text =  "" %>
                    <% if user.is_admin %>
                      <% text = "Delete admin" %>
                    <% else %>
                      <% text = "Delete user" %>
                    <% end %>
                    <%= link_to text, user, method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure that you want to delete ' + user.email + '?' } %>
                  </div>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <div id="manage-posts" class="container tab-pane fade">
          <h3>Manage posts</h3>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
          <table id="manage-posts-table" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Title</th>
              <th>Owner</th>
              <th>Content</th>
              <th>City</th>
              <th>Country</th>
              <th>GPS location</th>
              <th>Is in dumpster</th>
              <th>Creation date</th>
              <th>Report</th>
              <th>View post</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.get_email_owner %></td>
                <td><%= post.content %></td>
                <td><%= post.city %></td>
                <td><%= post.country %></td>
                <td><%= post.gps_location %></td>
                <td>
                  <% if post.is_in_dumpster %>
                    <i class="far fa-check-circle" data-tooltip="tooltip" title="Yes"></i>
                  <% else %>
                    <i class="far fa-times-circle" data-tooltip="tooltip" title="No"></i>
                  <% end %>
                </td>
                <td><%= post.created_at %></td>
                <td><button class="btn btn-warning fas fa-exclamation-triangle" data-toggle="modal" data-tooltip="tooltip"
                            title="Mark post as inappropriate" data-target="#report-modal-post-<%= post.id %>"></button></td>
                <td><a href="<%= watch_path(post_id: post.id) %>" role="button" class="btn btn-primary fas fa-file-import" data-tooltip="tooltip" title="View post"></a></td>
                <td><button class="btn btn-danger fas fa-trash-alt" data-toggle="modal"
                            data-target="#delete-post-modal-<%= post.id %>" data-tooltip="tooltip" title="Delete post"></button></td>
              </tr>
              <div class="modal" id="delete-post-modal-<%= post.id %>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete post</h4>
                      <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure that you want to delete the post <b><%= post.title %></b> by <b><%= post.get_email_owner %></b>?</p>
                    </div>
                    <div class="modal-footer">
                      <%= link_to 'Accept', post, method: :delete, class: "btn btn-outline-danger" %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal" id="report-modal-post-<%= post.id %>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Report post</h4>
                      <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <%= form_for :report, :url => {:controller => "reports", :action => "create"} do |report_form| %>
                      <%= report_form.text_field :user_id, value: current_user.id, type: "hidden", id: "current_user_post_" + post.id.to_s %>
                      <%= report_form.text_field :post_id, value: post.id, type: "hidden", id: "current_post_" + post.id.to_s %>
                      <div class="modal-body">
                        <p>Why you want to mark the post <b><%= post.title %></b> by <b><%= post.get_email_owner %></b> as inappropiate?</p>
                        <%= report_form.text_area :content, class:"form-control", placeholder: "Write a short comment for justification...", id: "current_content_" + post.id.to_s %>
                      </div>
                      <div class="modal-footer">
                        <%= report_form.submit value:"Report", class:"actions btn btn-outline-warning my-1", style:"float-right"%>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="blacklist" class="container tab-pane fade">
          <h3>Blacklist</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('user-blacklist')} else {showAllObjectsInList('user-blacklist')}">
              Show history (users who have passed through the blacklist)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @blacklist_users.each do |blacklist_user| %>
              <tr class="user-blacklist-row-<%= if blacklist_user.exit_date.nil? then "all" else "have-exit-date history" end %>">
                <td><%= blacklist_user.get_owner_email %></td>
                <td><%= blacklist_user.created_at %></td>
                <td><%= blacklist_user.exit_date %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt" data-tooltip="tooltip" title="Remove user from the blacklist"
                            data-target="#remove-from-blacklist-modal-<%= blacklist_user.id %>" data-toggle="modal" <%= "disabled" if !blacklist_user.exit_date.nil? %>>
                </button></td>
              </tr>
              <div class="modal" id="remove-from-blacklist-modal-<%= blacklist_user.id %>">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Remove user from blacklist</h4>
                      <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure that you want to remove <b><%= blacklist_user.get_owner_email %></b> from the <b>blacklist</b>?</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="dumpster" class="container tab-pane fade">
          <h3>Dumpster</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('post-dumpster')} else {showAllObjectsInList('post-dumpster')}">
              Show history (posts that have gone through the dumpster)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Post</th>
              <th>Owner</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the dumpster</th>
            <tr>
            </thead>
            <tbody>
            <% @dumpster_posts.each do |dumpster_post| %>
              <tr class="post-dumpster-row-<%= if dumpster_post.exit_date.nil? then "all" else "have-exit-date history" end %>">
                <td><%= dumpster_post.get_post_title %></td>
                <td><%= dumpster_post.get_email_owner %></td>
                <td><%= dumpster_post.created_at %></td>
                <td><%= dumpster_post.exit_date %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt" data-toggle="modal" data-tooltip="tooltip" title="Remove post from the dumpster"
                            data-target="#remove-from-dumpster-modal" <%= "disabled" if !dumpster_post.exit_date.nil? %>>
                </button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="suspension-list" class="container tab-pane fade">
          <h3>Suspension list</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('user-suspension-list')} else {showAllObjectsInList('user-suspension-list')}">
              Show history (users who have passed through the suspension list)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @suspension_list_users.each do |sl_user| %>
              <!--:email, :created_at, :exit_date, :id-->
              <tr class="user-suspension-list-row-<%= if sl_user[2].nil? then "all" else "have-exit-date history" end %>">
                <td><%= sl_user[0] %></td>
                <td><%= sl_user[1] %></td>
                <td><%= sl_user[2] %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt" data-tooltip="tooltip" title="Remove user from the suspension list"
                            data-toggle="modal" data-target="#remove-from-list-modal"
                            data-removed-user="<%= sl_user[0] %>" data-object-id="<%= sl_user[3] %>"
                            data-list-type="Suspension List" data-btn-type="remove-from-list"
                            <% if not sl_user[2].nil? %>
                            disabled
                            <% end %>
                            >
                </button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="block-list" class="container tab-pane fade">
          <h3>Block list</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('user-block-list')} else {showAllObjectsInList('user-block-list')}">
              Show history (users who have passed through the block list)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @block_list_users.each do |bl_user| %>
              <!--:email, :created_at, :exit_date, :id-->
              <tr class="user-block-list-row-<%= if bl_user[2].nil? then "all" else "have-exit-date history" end %>">
                <td><%= bl_user[0] %></td>
                <td><%= bl_user[1] %></td>
                <td><%= bl_user[2] %></td>
                <td><button class="btn btn-dark fas fa-sign-out-alt"
                            data-removed-user="<%= bl_user[0] %>" data-tooltip="tooltip" title="Remove user from the block list"
                            data-target="#remove-from-list-modal" data-btn-type="remove-from-list"
                            data-list-type="Block List" data-toggle="modal" data-object-id="<%= bl_user[3] %>"
                            <% if not bl_user[2].nil? %>
                            disabled
                            <% end %>
                            >
                </button></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="remove-from-dumpster-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Remove user from Dumpster</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Are you sure that you want to <i>remove</i> the post <b id="dump-title"></b> by <b id="dump-owner"></b> from the dumpster?</p>
      </div>
      <div class="modal-footer">
        <form action="remove_post_from_dumpster" method="post">
          <input id="hidden-post-dumpster-id" type="hidden" name="post_id"/>
          <button class="btn btn-outline-dark" type="submit">Accept</button>
        </form>
      </div>
    </div>
  </div>
</div>

  <div class="modal" id="edit-admin-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit <b id="edit-admin-email"></b></h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= form_for :user, :url => { controller: "users", action: "update"} do |edit_user_password_form| %>
            <%= edit_user_password_form.text_field :id, type: "hidden", id: "hidden-user-id-for-password-admin-modal" %>
            <div class="field form-inline">
              Password:&nbsp;
              <%= edit_user_password_form.text_field :password, type: "password", placeholder: "Write the new password...", id: "admin_new_password" %>&nbsp;
              <%= edit_user_password_form.submit value: "Update", class:"btn btn-success my-1" %>
            </div>
          <% end %>
          <% if current_user.is_super_admin %>
            <%= form_for :admin, :url => { controller: "admins", action: "update"} do |edit_admin_geofence_form| %>
              <%= edit_admin_geofence_form.text_field :id, type: "hidden", id: "hidden-admin-id-for-geofence" %>
              <div class="field form-inline">
                Geofence:&nbsp;
                <%= edit_admin_geofence_form.text_field :geofence, id: "actual-geofence" %>&nbsp;
                <%= edit_admin_geofence_form.submit value: "Update", class:"btn btn-primary my-1" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="edit-user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit <b id="email-edit-user-modal"></b></h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= form_for :user, :url => { controller: "users", action: "update"} do |edit_user_password_form| %>
            <%= edit_user_password_form.text_field :id, type: "hidden", id: "hidden-user-id-for-password-user-modal" %>
            <div class="field form-inline">
              Password:&nbsp;
              <%= edit_user_password_form.text_field :password, type: "password", placeholder: "Write the new password...", id: "user_new_password" %>&nbsp;
              <%= edit_user_password_form.submit value: "Update", class:"btn btn-success my-1" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="make-user-admin-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Make <b id="make-user-admin-email"></b> an administrator</h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :admin, :url => { controller: "admins", action: "create"} do |new_admin_form| %>
        <div class="modal-body">
          <%= new_admin_form.text_field :user_id, type: "hidden", id: "hidden_new_admin_user_id" %>
          <div class="field form-inline">
            Geofence:&nbsp;
            <%= new_admin_form.text_field :geofence %>&nbsp;
            <%= new_admin_form.submit value: "Accept", class: "btn btn-success" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="alert alert-danger alert-dismissible fade show">
    <b>Error!</b> You don't have permission to access here.
  </div>
<% end %>
</body>
</html>