<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'js_admin'%>
  <%= stylesheet_link_tag 'admins'%>
</head>
<body>
<% if user_signed_in? && current_user.is_admin %>
<div class="container-fluid">
  <!-- Nav pills -->
  <div class="row">
    <div class="col-2">
      <ul class="nav nav-pills flex-column" role="tablist">
        <li class="nav-item">
          <h2>Administration</h2>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#manage-users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#manage-posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#blacklist">Blacklist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#dumpster">Dumpster</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#suspension-list">Suspension list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#block-list">Block list</a>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="col-10">
      <div class="tab-content">
        <div id="manage-users" class="container tab-pane active">
          <h3>Manage users</h3>
          <% if current_user.is_super_admin %>
            <b>If you want to create a new administrator, you have 2 options:</b>
            <ul>
              <li>In this section, make a current user an administrator.</li>
              <li>Create a new administrator. For that, <%= link_to "log out", destroy_user_session_path, method: :delete %>,
                create a new user and then do it administrator.</li>
            </ul>
          <% end %>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th class="FIRST-CHILD"></th>
              <th>Name</th>
              <th>Last name</th>
              <th>Email</th>
              <th>Geofence</th>
              <th>Last access</th>
              <th>Creation date</th>
              <th>Is in</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
            <tr>
              <% if user.is_admin %>
                <% if user.is_super_admin %>
                  <td title="Super admin" class="FIRST-CHILD"><%= image_tag("gold_crown.png", height: "32px", width: "40px") %></td>
                <% else %>
                  <td title="Admin" class="FIRST-CHILD"><%= image_tag("gold_crown.png", height: "25px", width: "30px") %></td>
            <% end %>
                <% else %>
                <td class="FIRST-CHILD"></td>
              <% end %>
<!--              <td <%#= "data-tooltip=tooltip title=Admin" if user.is_admin %> class="FIRST-CHILD"><%#= image_tag("gold_crown.png", height: "25px", width: "30px") if user.is_admin %></td>-->
              <td><%= user.name %></td>
              <td><%= user.last_name %></td>
              <td><%= user.email %></td>
              <td><%= user.get_geofence %></td>
              <td><%= user.last_access %></td>
              <td><%= user.created_at %></td>
              <td>
                <ul>
                  <% if user.is_in_blacklist %>
                    <li>Blacklist</li>
                  <% end %>
                  <% if user.is_in_suspension_list %>
                    <li>Suspension list</li>
                  <% end %>
                  <% if user.is_in_block_list %>
                    <li>Block list</li>
                  <% end %>
                </ul>
              </td>
              <td>
                <button class="btn btn-primary" data-toggle="dropdown"><i class="fas fa-tools"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="<%= user_profile_view_path(user_profile_id: user.id) %>">View profile</a>
                  <% if current_user.is_super_admin %>
                    <% if user.is_admin %>
                      <a class="dropdown-item" data-toggle="modal" data-btn-type="edit-admin" data-user-id="<%= user.id %>"
                         data-target="#edit-admin-modal" data-email="<%= user.email %>"
                         data-admin-id="<%= user.get_admin.id %>" data-geofence="<%= user.get_admin.geofence %>">Edit admin</a>
                    <% else %>
                      <a class="dropdown-item" data-toggle="modal" data-btn-type="edit-user" data-user-id="<%= user.id %>"
                         data-target="#edit-user-modal" data-email="<%= user.email %>">Edit user</a>
                    <% end %>
                  <% elsif not user.is_admin %>
                    <a class="dropdown-item" data-toggle="modal" data-btn-type="edit-user" data-user-id="<%= user.id %>"
                       data-target="#edit-user-modal" data-email="<%= user.email %>">Edit user</a>
                  <% end %>
                  <% if current_user.is_super_admin %>
                    <% if user.is_admin %>
                      <%= link_to 'Stop being admin', user.get_admin, method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure that you want ' + user.email + ' to stop being an administrator?' } %>
                    <% else %>
                      <a class="dropdown-item" data-toggle="modal" data-btn-type="make-user-admin" data-user-id="<%= user.id %>"
                         data-target="#make-user-admin-modal" data-email="<%= user.email %>">Make user admin</a>
                    <% end %>
                  <% end %>
                  <% can_edit = false %>
                  <% if user.is_admin %>
                    <% text = "Delete admin" %>
                    <% if current_user.is_super_admin %>
                      <% can_edit = true %>
                    <% end %>
                  <% else %>
                    <% text = "Delete user" %>
                    <% can_edit = true %>
                  <% end %>
                  <% if can_edit %>
                    <% if user.is_in_blacklist %>
                      <%= link_to 'Remove user from the blacklist', remove_from_blacklist_path("blacklist[id]": user.get_blacklist_instance_id, "blacklist[exit_date]": Time.now),
                                  class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to remove ' + user.email + ' from the blacklist?' } %>
                    <% else %>
                      <%= link_to 'Send to the blacklist', send_user_to_blacklist_path("blacklist[user_id]": user.id), class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to send ' + user.email + 'to the blacklist?' } %>
                    <% end %>
                    <% if user.is_in_suspension_list %>
                      <%= link_to 'Remove user from the suspension list', remove_from_suspension_list_path("suspension_list[id]": user.get_suspension_instance_id, "suspension_list[exit_date]": Time.now),
                                  class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to remove ' + user.email + ' from the suspension list?' } %>
                    <% else %>
                      <%= link_to 'Send to the suspension list', send_user_to_suspension_list_path("suspension_list[user_id]": user.id), class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to send ' + user.email + 'to the suspension list?' } %>
                    <% end %>
                    <% if user.is_in_block_list %>
                      <%= link_to 'Remove user from the block list', remove_from_block_list_path("block_list[id]": user.get_block_instance_id, "block_list[exit_date]": Time.now),
                                  class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to remove ' + user.email + ' from the block list?' } %>
                    <% else %>
                      <%= link_to 'Send to the block list', send_user_to_block_list_path("block_list[user_id]": user.id), class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to send ' + user.email + 'to the block list?' } %>
                    <% end %>
                    <%= link_to text, user, method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure that you want to delete ' + user.email + '?' } %>
                  <% end %>
                </div>
              </td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <div id="manage-posts" class="container tab-pane fade">
          <h3>Manage posts</h3>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
          <table id="manage-posts-table" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Title</th>
              <th>Owner</th>
              <th>Content</th>
              <th>City</th>
              <th>Country</th>
              <th>GPS location</th>
              <th>Creation date</th>
              <th>Is in dumpster</th>
              <th>Options</th>
            </tr>
            </thead>
            <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.get_email_owner %></td>
                <td><%= post.content %></td>
                <td><%= post.city %></td>
                <td><%= post.country %></td>
                <td><%= post.gps_location %></td>
                <td><%= post.created_at %></td>
                <td>
                  <% if post.is_in_dumpster %>
                    YES
                  <% else %>
                    NO
                  <% end %>
                </td>
                <td>
                  <button class="btn btn-primary" data-toggle="dropdown"><i class="fas fa-tools"></i></button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="<%= watch_path(post_id: post.id) %>">View post</a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#report-modal-post"
                    data-owner="<%= post.get_email_owner %>" data-title="<%= post.title %>"
                    data-post-id="<%= post.id %>" data-btn-type="report-post">Mark post as inappropiate</a>
                    <% if post.is_in_dumpster %>
                      <%= link_to 'Remove post from the dumpster', remove_post_from_dumpster_path("dumpster[id]": post.get_dumpster_instance_id, "dumpster[exit_date]": Time.now),
                                  class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to remove "' + post.title + '" by ' + post.get_email_owner + ' from the dumpster?' } %>
                    <% else %>
                      <%= link_to 'Send post to the dumpster', send_post_to_dumpster_path("dumpster[post_id]": post.id), class: "dropdown-item", method: :post, data: { confirm: 'Are you sure that you want to send "' + post.title + '" by ' + post.get_email_owner + ' to the dumpster?' } %>
                    <% end %>
                    <%= link_to 'Delete post', post, method: :delete, class: "dropdown-item", data: { confirm: 'Are you sure that you want to delete "' + post.title + '" by ' + post.get_email_owner + '?' } %>
                  </div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="blacklist" class="container tab-pane fade">
          <h3>Blacklist</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('user-blacklist')} else {showAllObjectsInList('user-blacklist')}">
              Show history (users who have passed through the blacklist)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @blacklist_users.each do |blacklist_user| %>
              <tr class="user-blacklist-row-<%= if blacklist_user.exit_date.nil? then "all" else "have-exit-date history" end %>">
                <td><%= blacklist_user.get_owner_email %></td>
                <td><%= blacklist_user.created_at %></td>
                <td><%= blacklist_user.exit_date %></td>
                <td>
                  <% if blacklist_user.exit_date.nil? %>
                    <%= link_to "<button class='btn btn-dark fas fa-sign-out-alt' title='Remove user from the blacklist'></button>".html_safe, remove_from_blacklist_path("blacklist[id]": blacklist_user.id, "blacklist[exit_date]": Time.now),
                                method: :post, data: { confirm: 'Are you sure that you want to remove ' + blacklist_user.get_owner_email + ' from the blacklist?' } %>
                  <% else %>
                    <button class="btn btn-dark fas fa-sign-out-alt" disabled></button>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="dumpster" class="container tab-pane fade">
          <h3>Dumpster</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('post-dumpster')} else {showAllObjectsInList('post-dumpster')}">
              Show history (posts that have gone through the dumpster)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Post</th>
              <th>Owner</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the dumpster</th>
            <tr>
            </thead>
            <tbody>
            <% @dumpster_posts.each do |dumpster_post| %>
              <tr class="post-dumpster-row-<%= if dumpster_post.exit_date.nil? then "all" else "have-exit-date history" end %>">
                <td><%= dumpster_post.get_post_title %></td>
                <td><%= dumpster_post.get_email_owner %></td>
                <td><%= dumpster_post.created_at %></td>
                <td><%= dumpster_post.exit_date %></td>
                <td>
                  <% if dumpster_post.exit_date.nil? %>
                    <%= link_to "<button class='btn btn-dark fas fa-sign-out-alt' title='Remove post from the dumpster'></button>".html_safe, remove_post_from_dumpster_path("dumpster[id]": dumpster_post.id, "dumpster[exit_date]": Time.now),
                                method: :post, data: { confirm: 'Are you sure that you want to remove "' + dumpster_post.get_post_title + '" by ' + dumpster_post.get_email_owner + ' from the dumpster?' } %>
                  <% else %>
                    <button class="btn btn-dark fas fa-sign-out-alt" disabled></button>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="suspension-list" class="container tab-pane fade">
          <h3>Suspension list</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('user-suspension-list')} else {showAllObjectsInList('user-suspension-list')}">
              Show history (users who have passed through the suspension list)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @suspension_list_users.each do |suspension_list_user| %>
              <tr class="user-suspension-list-row-<%= if suspension_list_user.exit_date.nil? then "all" else "have-exit-date history" end %>">
                <td><%= suspension_list_user.get_user_email %></td>
                <td><%= suspension_list_user.created_at %></td>
                <td><%= suspension_list_user.exit_date %></td>
                <td>
                  <% if suspension_list_user.exit_date.nil? %>
                    <%= link_to "<button class='btn btn-dark fas fa-sign-out-alt' title='Remove user from the suspension list'></button>".html_safe, remove_from_suspension_list_path("suspension_list[id]": suspension_list_user.id, "suspension_list[exit_date]": Time.now),
                                method: :post, data: { confirm: 'Are you sure that you want to remove ' + suspension_list_user.get_user_email + ' from the suspension list?' } %>
                  <% else %>
                    <button class="btn btn-dark fas fa-sign-out-alt" disabled></button>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
        <div id="block-list" class="container tab-pane fade">
          <h3>Block list</h3>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" onclick="if (this.checked){showOnlyCurrentObjectsInList('user-block-list')} else {showAllObjectsInList('user-block-list')}">
              Show history (users who have passed through the block list)
            </label>
          </div>
          <table class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>User</th>
              <th>Entry date</th>
              <th>Exit date</th>
              <th>Remove from the list</th>
            <tr>
            </thead>
            <tbody>
            <% @block_list_users.each do |block_list_user| %>
              <tr class="user-block-list-row-<%= if block_list_user.exit_date.nil? then "all" else "have-exit-date history" end %>">
                <td><%= block_list_user.get_user_email %></td>
                <td><%= block_list_user.created_at %></td>
                <td><%= block_list_user.exit_date %></td>
                <td>
                  <% if block_list_user.exit_date.nil? %>
                    <%= link_to "<button class='btn btn-dark fas fa-sign-out-alt' title='Remove user from the block list'></button>".html_safe, remove_from_block_list_path("block_list[id]": block_list_user.id, "block_list[exit_date]": Time.now),
                                method: :post, data: { confirm: 'Are you sure that you want to remove ' + block_list_user.get_user_email + ' from the block list?' } %>
                  <% else %>
                    <button class="btn btn-dark fas fa-sign-out-alt" disabled></button>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="modal" id="edit-admin-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit <b id="edit-admin-email"></b></h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= form_for :user, :url => { controller: "users", action: "update"} do |edit_user_password_form| %>
            <%= edit_user_password_form.text_field :id, type: "hidden", id: "hidden-user-id-for-password-admin-modal" %>
            <div class="field form-inline">
              Password:&nbsp;
              <%= edit_user_password_form.text_field :password, type: "password", placeholder: "Write the new password...", id: "admin_new_password" %>&nbsp;
              <%= edit_user_password_form.submit value: "Update", class:"btn btn-success my-1" %>
            </div>
          <% end %>
          <% if current_user.is_super_admin %>
            <%= form_for :admin, :url => { controller: "admins", action: "update"} do |edit_admin_geofence_form| %>
              <%= edit_admin_geofence_form.text_field :id, type: "hidden", id: "hidden-admin-id-for-geofence" %>
              <div class="field form-inline">
                Geofence:&nbsp;
                <%= edit_admin_geofence_form.text_field :geofence, id: "actual-geofence" %>&nbsp;
                <%= edit_admin_geofence_form.submit value: "Update", class:"btn btn-primary my-1" %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="edit-user-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit <b id="email-edit-user-modal"></b></h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <%= form_for :user, :url => { controller: "users", action: "update"} do |edit_user_password_form| %>
            <%= edit_user_password_form.text_field :id, type: "hidden", id: "hidden-user-id-for-password-user-modal" %>
            <div class="field form-inline">
              Password:&nbsp;
              <%= edit_user_password_form.text_field :password, type: "password", placeholder: "Write the new password...", id: "user_new_password" %>&nbsp;
              <%= edit_user_password_form.submit value: "Update", class:"btn btn-success my-1" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="make-user-admin-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Make <b id="make-user-admin-email"></b> an administrator</h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :admin, :url => { controller: "admins", action: "create"} do |new_admin_form| %>
        <div class="modal-body">
          <%= new_admin_form.text_field :user_id, type: "hidden", id: "hidden_new_admin_user_id" %>
          <div class="field form-inline">
            Geofence:&nbsp;
            <%= new_admin_form.text_field :geofence %>&nbsp;
            <%= new_admin_form.submit value: "Accept", class: "btn btn-success" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="modal" id="report-modal-post">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Report post</h4>
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :report, :url => {:controller => "reports", :action => "create"} do |report_form| %>
          <%= report_form.text_field :user_id, value: current_user.id, type: "hidden" %>
          <%= report_form.text_field :post_id, type: "hidden", id: "hidden-post-id-report" %>
          <div class="modal-body">
            <p>Why you want to mark the post <b id="post-title"></b> by <b id="post-owner"></b> as inappropiate?</p>
            <%= report_form.text_area :content, class:"form-control", placeholder: "Write a short comment for justification..." %>
          </div>
          <div class="modal-footer">
            <%= report_form.submit value:"Report", class:"btn btn-warning my-1", style:"float-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>



<% else %>
  <div class="alert alert-danger alert-dismissible fade show">
    <b>Error!</b> You don't have permission to access here.
  </div>
<% end %>
</body>
</html>