<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= form.label :user_id, type:"hidden" %>
    <%= form.text_field :user_id, type:"hidden" %>
  </div>

  <div class="field">
    <%#= form.label :post_id %>
    <%= form.text_field :post_id, type:"hidden"   %>
  </div>

  <div class="field">
    <%#= form.label :comment_id %>
    <%= form.text_field :comment_id, type:"hidden"  %>
  </div>

  <div class="card-container col-7 mx-auto">
    <div class="card">
      <div class="card-header">
        <h2>Edit Comment</h2>
      </div>
      <div class="card-body">
        <div class="field">
          <%= form.text_area :content, class:"form-control", style:"height:80%;", required: true  %>
        </div>
      </div>
      <div class="card-footer">
        <div class="actions">
          <%= form.submit class:"form-control"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
