<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to 'View user', user_path(@comment.user) %>
</p>

<p>
  <strong>Post:</strong>
  <%= link_to 'View post', post_path(@comment.post) %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
