<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @geofence.admin %>
</p>

<p>
  <strong>Geofence:</strong>
  <%= @geofence.geofence %>
</p>

<%= link_to 'Edit', edit_geofence_path(@geofence) %> |
<%= link_to 'Back', geofences_path %>
