<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @follow_post.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @follow_post.post %>
</p>

<%= link_to 'Edit', edit_follow_post_path(@follow_post) %> |
<%= link_to 'Back', follow_posts_path %>
