<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card-container col-7 mx-auto">
    <div class="card">
      <div class="card-header">
        <h2>User Attributes</h2>
      </div>

      <div class="card-body">
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="field col-6">
          <%= form.label :name %><br>
          <%= form.text_field :name, class:"form-control", required: true %>
        </div>

        <div class="field col-6">
          <%= form.label :last_name %><br>
          <%= form.text_field :last_name, class:"form-control", required: true  %>
        </div>
      </div>

      <br>
      <%= form.label :email %><br>
      <%= form.text_field :email, readonly:true, class:"form-control" %>
      <br>
      <%= link_to "Change my password", edit_user_registration_path %>

<!--      <%#= form.label :password %><br>-->
      <%#= form.password_field :password, class:"form-control" %>

    </div>
  </div>

<!--  <div class="field">-->
    <%#= form.label :email %>
    <%#= form.text_field :email %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :password %>
    <%#= form.text_field :password %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :last_access %>
    <%#= form.datetime_select :last_access %>
<!--  </div>-->
      </div>

    <div class="card-footer">

      <div class="actions col-3" style="float: right">
        <%= form.submit class:"form-control"%>
      </div>

      <div class="mt-2">
        <%= link_to 'Delete my account', user, method: :delete, data: { confirm: 'Are you sure you want to delete your account? There will be no turning back.' } %>
      </div>

    </div>

    </div>
  </div>
  <br>

  <%#= link_to "Delete my account", registration_path(current_user), data: { confirm: <%= link_to "Delete my account", registration_path(current_user), data: { confirm: "Are you sure you want to delete your account? There will be no turning back." }, method: :delete %>

<% end %>
