<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">

      <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </div>

      <div class="field">
        <%= form.label :last_name %><br>
        <%= form.text_field :last_name %>
      </div>

    </div>
  </div>

<!--  <div class="field">-->
    <%#= form.label :email %>
    <%#= form.text_field :email %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :password %>
    <%#= form.text_field :password %>
<!--  </div>-->

<!--  <div class="field">-->
    <%#= form.label :last_access %>
    <%#= form.datetime_select :last_access %>
<!--  </div>-->

  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
  <br>

  <%= link_to 'Delete my account', user, method: :delete, data: { confirm: 'Are you sure you want to delete your account? There will be no turning back.' } %>
  <%#= link_to "Delete my account", registration_path(current_user), data: { confirm: <%= link_to "Delete my account", registration_path(current_user), data: { confirm: "Are you sure you want to delete your account? There will be no turning back." }, method: :delete %>

<% end %>
