<p id="notice"><%= notice %></p>

<h1>Dumpsters</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dumpsters.each do |dumpster| %>
      <tr>
        <td><%= dumpster.post %></td>
        <td><%= link_to 'Show', dumpster %></td>
        <td><%= link_to 'Edit', edit_dumpster_path(dumpster) %></td>
        <td><%= link_to 'Destroy', dumpster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dumpster', new_dumpster_path %>
