


<div class="mainbody container-fluid">
  <div class="row">
    <div class="Trending col-3">
        <h4>Trending Post's</h4>
        <div class="trending-container container-fluid container-default">
          <div class="col">
            <div class="card card-default">
          <div class="card-body">
              <div class="card-body-container row">
                <div class="left-elements row m-2 pull-left">
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">

                  <div class="col">
                    <a class="p text-primary mx-auto my-auto" href="#">Matías Cánepa</a>
                    <a class="p text-secondary mx-auto my-auto" href="<%= user_profile_path %>">Post's Title</a>
                  </div>
                </div>

                <div class="right-elements row m-2 pull-right">
                  <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>
                </div>

              </div>

          </div>

        </div>
            <div class="card card-default">
          <div class="card-body">
              <div class="card-body-container row">
                <div class="left-elements row m-2 pull-left">
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">

                  <div class="col">
                    <a class="h4 text-primary mx-auto my-auto" href="#">Matías Cánepa</a>
<!--                    <a href="<%# view_post_page_path %>" class="h4 text-secondary mx-auto my-auto">Post's Title</a>-->
                  </div>
                </div>

                <div class="right-elements row m-2 pull-right">
                  <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>
                </div>

              </div>

          </div>
        </div>
      </div>
        </div>
    </div>

    <div class="col">
      <div class="container-fluid">
        <div class="text-primary h5">What are you thinking?</div>
        <div class="create-post-container">
          <div class="col">
            <div class="card card-default h-100">
              <div class="card-header">
                <div class="card-heading-container row">
                  <div class="form-inline row m-2 w-100">
                    <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-1 rounded-circle border border-primary">
                    <input type="text" class="form-control" id="title" placeholder="Post's Title" name="title">
                  </div>
                </div>

              </div>

              <div class="card-body">
                <textarea class="w-100 min-x" style="min-height: 130px; max-height: 250px;"></textarea>

                <div class="bottom-actions pull-right">
                  <button class="btn btn-outline-primary">Publish</button>
                </div>




              </div>

            </div>
            <hr>
          </div>
        </div>
      </div>

      <% @posts.each do |post| %>
        <div class="container-fluid">
        <div class="col">
          <div class="card card-default">
            <div class="card-header">
              <div class="card-heading-container row">
                <div class="left-elements row m-2 pull-left">
                  <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">
                  <a class="p text-primary my-auto" href="<%= user_profile_view_path %>"><%=post.user.name %> <%=post.user.last_name %></a>
                  <p class="p text-secondary my-auto ml-4"><%=post.title %></p>
                </div>

                <div class="right-elements row m-2 pull-right">
                  <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="p text-secondary"><%=post.content%></div>
              <hr>

              <div class="form-inline card-footer-container my-auto">
                <div class="pull-left ml-3 row">
                  <div class="text-secondary mx-2 my-auto"> 5, May 2019</div>
                  <a class="btn btn-link mx-2 my-auto" data-toggle="collapse" href="#collapseComment" role="button" aria-expanded="false" aria-controls="collapseComment">
                    Display Comments
                  </a>
                </div>

                <div class="pull-right btn-group-xs">
                  <a class="btn btn-default btn-xs"><i class="fa fa-angle-up" aria-hidden="true"></i> Like</a>
                  <a class="btn btn-default btn-xs"><i class="fa fa-angle-down" aria-hidden="true"></i> Dislike</a>
                  <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                  <a class="btn btn-default btn-xs" data-toggle="collapse" href="#collapseNewComment" role="button" aria-expanded="false" aria-controls="collapseComment"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                </div>

              </div>

              <div style="height: 40px;"></div>

              <div class="comment-container collapse" id="collapseNewComment">
                <div class="new-comment-container row mx-1">
                  <textarea class="w-100" style="max-height: 30px; min-height: 30px" placeholder="Enter comment"></textarea>
                  <a class="btn btn-primary ml-2">Publish</a>
                </div>
              </div>
              <div class="comment-container collapse" id="collapseComment">
                <div class="h3 text-primary">Comments</div>
                <% @comments.each do |comment| %>
                  <hr>
                  <% comment_user = User.find(comment.user_id) %>
                  <div class="comment-container my-3">
                      <div class="card card-default">

                        <div class="card-header">
                          <div class="card-heading-container row">
                            <div class="left-elements row m-2 pull-left">
                              <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">
                              <a class="p text-primary mx-2 my-auto" href="#"><%= comment_user.name %> <%= comment_user.last_name %></a>
                            </div>

                            <div class="right-elements row m-2 pull-right">
                              <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>

                        <div class="card-body">
                          <div class="p text-secondary"><%= comment.content %></div>
                        </div>
                      </div>
                  </div>
                  <div class="reply-container my-2">
                    <% this_replies = @replies.where(comment_id: comment.id) %>
                    <% this_replies.each do |reply| %>


                      <div class="row">

                        <div class="col-2"></div>
                        <div class="col-10 mt-2">
                          <div class="card card-default">
                            <div class="card-body">
                              <span>
                                <div class="p text-secondary"><span class="btn btn-link text-primary"><%= reply.user.name %> <%= reply.user.last_name %></span>replying to<span class="btn btn-link text-primary"><%= comment.user.name %> <%= comment.user.last_name %></span>:<%= reply.content %></div>
<!--                                <div class="p text-primary"><%#= reply.user.name %> <%#= reply.user.last_name %></div>                              <div class="p text-secondary">  replying to </div>                              <div class="p text-primary"> <%#= comment.user.name %> <%#= comment.user.last_name %></div>                    <div class="p text-secondary"><%#= reply.content %></div>-->
                              </span>
                            </div>
                          </div>
                        </div>

                      </div>
                  <% end %>
                  </div>


                <% end %>

              </div>

            </div>

          </div>
          <hr>
        </div>
      </div>
      <%end %>
    </div>

    <div class="Trending col-3">
      <h4>Following Post's</h4>
      <div class="col">
        <div class="
         card-default">
          <div class="card-header">
            <div class="card-heading-container row">
              <div class="left-elements row m-2 pull-left">
                <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">
                <a class="p text-primary mx-2 my-auto" href="#">Matías Cánepa</a>
                <a class="p text-secondary mx-2 my-auto" href="#">Post's Title</a>
              </div>

              <div class="right-elements row m-2 pull-right">
                <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="p text-secondary"> Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post!</div>

            <hr>
            <div class="card-footer-container my-auto">
              <div class="pull-right btn-group-xs">
                <a class="btn btn-default btn-xs"><i class="fa fa-angle-up" aria-hidden="true"></i> Like</a>
                <a class="btn btn-default btn-xs"><i class="fa fa-angle-down" aria-hidden="true"></i> Dislike</a>
                <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
                <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
              </div>
              <div class="pull-left">
                <p class="text-secondary mx-2"> 5, May 2019</p>
              </div>
            </div>

          </div>

        </div>
        <hr>
      </div>
    </div>

  </div>
</div>
