
</div>
<div class="mainbody container-fluid">
  <div class="row">
    <div class="Following-Posts col-4">
      <% if not current_user.nil?%>
        <div class="h5 text-primary mx-auto">Following</div>
        <hr>

        <div class="container-1 py-4">
          <% @following_posts.each do |post| %>
            <%= render("posts/post_pill", post: post) %>
          <% end %>
        </div>

      <% end %>
    </div>

    <div class="Main-Posts col-7">
      <% if not current_user.nil?%>
        <div class="container-fluid">
          <div class="text-primary h5">What are you thinking?</div>
          <hr>
          <div class="create-post-container">
            <div class="col">

              <%= form_for :post, :url => {:controller => "posts", :action => "create"} do |post_form| %>
                <%= post_form.text_field :user_id, value:current_user.id, type:"hidden" %>
                <div class="card card-default h-100">
                  <div class="card-header">
                    <div class="card-heading-container row">
                      <div class="form-inline row m-2 w-100">
                        <% if not current_user.profile.image.attached? %>
                          <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">
                        <% else %>
                          <%= image_tag current_user.profile.image.variant(combine_options: {resize:'100x100', gravity: "Center", crop: '50x50+0+0' }), :class => "my-auto mx-4 rounded-circle border border-primary"%>
                        <% end %>
                        <%= post_form.text_field :title, placeholder:"Post's Title", class:"form-control"%>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <%= post_form.text_area :content, placeholder:"Write something", class:"form-control"%>
                    <div class="cont">
                      <div class="form-inline" style="float: left;">


                        <label class="btn btn-outline-primary mt-2">
                          Add Attachments
                          <span style="display: none;">
                        <%= post_form.file_field :attachments%>
                        </span>
                        </label>

                        <label class="btn btn-outline-primary mt-2 ml-2">
                          Add Images
                        <span style="display: none;">
                          <%= post_form.file_field :images, multiple: true %>
                        </span>
                        </label>


                        <%= post_form.check_box :include_location, class:"form-control mt-2"%>
                        <div class="p mt-2">Include location</div>
                      </div>
                      <%= post_form.submit value:"Publish", class:"btn btn-outline-primary mt-2"%>
                    </div>
                  </div>
                </div>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>

      <% @posts.each do |post| %>
        <%= render "posts/post_view", post: post %>
      <% end %>

      </div>
    </div>
  </div>


  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal body -->
        <div class="modal-body">
          <%#= render("posts/post_view", post:@posts.find(1)) %>
        </div>
      </div>
    </div>
  </div>
