<p id="notice"><%= notice %></p>

<h1>Suspension Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suspension_lists.each do |suspension_list| %>
      <tr>
        <td><%= suspension_list.user %></td>
        <td><%= link_to 'Show', suspension_list %></td>
        <td><%= link_to 'Edit', edit_suspension_list_path(suspension_list) %></td>
        <td><%= link_to 'Destroy', suspension_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suspension List', new_suspension_list_path %>
