<p id="notice"><%= notice %></p>

<h1>Shared Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shared_posts.each do |shared_post| %>
      <tr>
        <td><%= shared_post.user %></td>
        <td><%= shared_post.post %></td>
        <td><%= shared_post.content %></td>
        <td><%= link_to 'Show', shared_post %></td>
        <td><%= link_to 'Edit', edit_shared_post_path(shared_post) %></td>
        <td><%= link_to 'Destroy', shared_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shared Post', new_shared_post_path %>
