<h2>AngryLusho</h2>


<p>Developed by<br>
  <ul>
    <li>Matías Cánepa</li>
    <li>Vicente Correa</li>
  </ul>
</p>

<a href="<%= users_path %>">User Index</a><br>
<a href="<%= new_user_path %>">Create New User</a><br>
<a href="<%= admins_path %>">Admin Index</a><br>
<a href="<%= new_admin_path %>">Create New Admin</a><br>
<a href="<%= posts_path %>">Post Index</a><br>
<a href="<%= comments_path %>">Comment Index</a><br>