<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <div class="field">
        <%= form.text_field :title ,placeholder:"Post's Title...", class:"form-control"%>
      </div>
    </div>
    <div class="card-body">

      <div class="field">
        <%= form.text_area :content ,placeholder:"Content...", :rows => 8, class:"form-control" %>
      </div>

      <hr>
      <%# if post.attachments.attached? %>
<!--        <div class="h5">Attachments (select to remove)</div>-->
        <%# post.attachments.each do |attachment| %>
<!--          <div class="form-inline">-->
<!--            <%#= attachment.filename %><%#= form.check_box :attachment, default:true%><br>-->
<!--            <%#= attachment.filename %><%#= form.submit :attachment, default:true%><br>-->
<!--          </div>-->

        <%# end %>
      <%# end %>


    </div>
    <div class="card-footer form-inline">
      <div class="field form-inline">

        <label class="btn btn-outline-dark mt-2">
          Add Attachments
          <span style="display: none;">
                        <%= form.file_field :attachments, multiple: true %>
                        </span>
        </label>

        <label class="btn btn-outline-dark mt-2 ml-2">
          Add Images
          <span style="display: none;">
                          <%= form.file_field :images, multiple: true %>
                        </span>
        </label>
        <%= form.label :include_location, class:"ml-2"%>
        <%= form.check_box :include_location %>

        <a data-turbolinks='false' href="<%=edit_location_path(id: post.location.id) %>">Edit Location</a>


      </div>
      <div class="col-1"></div>
      <div class="actions" style="float: right;">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
