<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <div class="field">
        <%= form.text_field :title ,placeholder:"Post's Title..." ,style:"width:100%"%>
      </div>
    </div>
    <div class="card-body">

      <div class="field">
        <%= form.text_area :content ,placeholder:"Content...", :rows => 8, style:"width:100%" %>
      </div>
    </div>
    <div class="card-footer form-inline">
      <div class="field form-inline">
        <%= form.label :include_location %>
        <%= form.check_box :include_location %>
      </div>
      <div class="col-1"></div>
      <div class="actions" style="float: right;">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
