<%
  @comments = Comment.where(comment_id: nil)
  @replies = Comment.where.not(comment_id: nil)

  likes = post.validations.where(validation_type: 'like')
  likes_count = likes.count
  dislikes = post.validations.where(validation_type: 'dislike')
  dislikes_count = dislikes.count
  shares = SharedPost.where(post_id: post.id)
  shares_count = shares.count
%>

<% hover_likes_value = "" %>
<% c1 = 1 %>
<% likes.each do |like| %>
  <% hover_likes_value += (" " + c1.to_s + ". " + like.user.get_name) %>
  <% c1 += 1 %>
<% end %>

<% hover_dislikes_value = "" %>
<% c2 = 1 %>
<% dislikes.each do |dislike| %>
  <% hover_dislikes_value += (" " + c2.to_s + ". " + dislike.user.get_name) %>
  <% c2 += 1 %>
<% end %>

<% hover_shares_value = "" %>
<% c3 = 1 %>
<% shares.each do |share| %>
  <% hover_shares_value += (" " + c3.to_s + ". " + share.user.get_name) %>
  <% c3 += 1 %>
<% end %>
<head>
  <%= javascript_include_tag 'js_post_view'%>
  <% key = "AIzaSyCPyzjsnZ320er0gU62rJG9FhyrMwf3v98" %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+key %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<div class="container-fluid">
  <div class="col">
    <hr>
    <div class="card card-default">
      <div class="card-header">
        <div class="card-heading-container">

          <div class="row justify-content-between">
            <div class="form-inline">

              <% if not post.user.profile.image.attached? %>
                <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-dark">
              <% else %>
                <%= image_tag post.user.profile.image.variant(combine_options: {resize:'100x100', gravity: "Center", crop: '50x50+0+0' }), :class => "my-auto mx-4 rounded-circle border border-dark"%>
              <% end %>

              <div class="col">
                <% if(not post.user.profile.nil?) %>
                  <a data-turbolinks='false' class="p text-dark my-auto" href="<%= user_profile_view_path(user_profile_id: post.user.profile.id) %>"><%= post.user.get_name %></a>
                <% end %>
                <a data-turbolinks='false' class="p text-secondary my-auto ml-4" href="<%= watch_path(post_id: post.id) %>"><b><%= post.title %></b></a>


               <div class="form-inline">
                  <div class="text-secondary my-auto small"><%= post.created_at %> </div>
                  <div class="text-secondary my-auto small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= post.city %><%= if (!post.country.blank? && !post.city.blank?) then ", " end %><%= post.country %></div>
                  <div class="col-1"></div>
                  <div style="float: right;" class="form-inline">
                  <% if post.is_open %>
                    <div class="text-warning my-auto small">Post Open</div>
                  <% else %>
                    <div class="text-muted my-auto small">Post Closed</div>
                    <% if post.is_solved %>
                      <div class="text-success my-auto small ml-2">Solved</div>
                    <% else %>
                      <div class="text-danger my-auto small ml-2">Uresolved</div>
                    <% end %>
                  <% end %>


                </div>
               </div>
              </div>
            </div>
            <% if (user_signed_in?) %>
              <div class="dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if(post.user_id != current_user.id) %>

                    <% if not Follow.where(post_id:post.id).pluck(:user_id).include? current_user.id %>
                    <%= form_for :follow, :url => {:controller => "follows", :action => "create"} do |follow_form| %>
                      <%= follow_form.text_field :post_id, value: post.id, type:"hidden" %>
                      <%= submit_tag "Follow Post", :class => "dropdown-item"%>
                    <% end %>
                    <% else %>
                      <%#= link_to 'Unfollow', Follow.where(user_id:current_user.id, post_id:post.id)[0], method: :delete%>
                      <% follow = Follow.where(user_id:current_user.id, post_id:post.id)[0] %>
                      <%= form_for follow, method: :delete do |follow_form|%>
                        <%= follow_form.submit value:"Unfollow Post", class:"dropdown-item"%>
                      <% end %>
                    <% end %>




                  <hr>
                <%end %>

                <% if SharedPost.where(user_id: current_user.id, post_id: post.id).length!= 0 %>
                  <a class="dropdown-item"<%= link_to 'Unshare', SharedPost.where(user_id: current_user.id, post_id: post.id).first, method: :delete, data: {confirm: 'Are you sure?'} %></a>
                <% end %>

                <% if(post.user_id == current_user.id) %>

                    <% if post.is_open %>
  <!--                    Set Solved-->
                      <%= form_for post do |f| %>
                        <%= f.text_field :is_solved, value:true, type:"hidden"%>
                        <%= f.text_field :is_open, value:false, type:"hidden"%>
                        <%= f.submit value:"Set Solved", class:"dropdown-item"%>
                      <% end %>

<!--                      Set Closed-->
                      <%= form_for post do |f| %>
                        <%= f.text_field :is_solved, value:false, type:"hidden"%>
                        <%= f.text_field :is_open, value:false, type:"hidden"%>
                        <%= f.submit value:"Set Closed", class:"dropdown-item"%>
                      <% end %>

                  <% else %>

<!--                    Set Open-->
                    <%= form_for post do |f| %>
                      <%= f.text_field :is_solved, value:false, type:"hidden"%>
                      <%= f.text_field :is_open, value:true, type:"hidden"%>
                      <%= f.submit value:"Set Open", class:"dropdown-item"%>
                    <% end %>

                    <% if post.is_solved %>
<!--                      Set Unresolved-->
                      <%= form_for post do |f| %>
                        <%= f.text_field :is_solved, value:false, type:"hidden"%>
                        <%= f.text_field :is_open, value:false, type:"hidden"%>
                        <%= f.submit value:"Set Unresolved", class:"dropdown-item"%>
                      <% end %>
                    <% else %>

<!--                      Set Solved-->
                      <%= form_for post do |f| %>
                        <%= f.text_field :is_solved, value:true, type:"hidden"%>
                        <%= f.text_field :is_open, value:false, type:"hidden"%>
                        <%= f.submit value:"Set Solved", class:"dropdown-item"%>
                      <% end %>
                    <% end %>
                  <% end %>
                  <hr>
                  <a class="dropdown-item" href="<%= edit_post_path(id: post.id, format: :html) %>">Edit</a>
                  <%= form_for post, method: :delete do |post_form|%>
                    <%= post_form.submit value:"Delete", class:"dropdown-item", data: { confirm: "Are you sure that you want to delete this post?" } %>
                  <% end %>

                  <hr>
                <%end %>
                <%# end end %>
                <a class="dropdown-item" href="" data-toggle="modal" data-target="#report-modal-post-id-<%= post.id %>">Report</a>
              </div>
            </div>
            <%end %>

          </div>

        </div>
      </div>

      <div class="card-body">
        <div class="p text-secondary"><%= post.content %></div>
        <hr>

        <div class="form-inline card-footer-container my-auto">
          <div class="row">


            <% if post.images.attached? %>
              <button class="post-icon btn btn-link mx-2 my-auto btn-xs" data-toggle="collapse" data-target="#collapseImages-<%= post.id%>" role="button" aria-expanded="false" aria-controls="collapseImages">
                Display Images
              </button>
            <% end %>
            <% if post.attachments.attached? %>
              <button class="post-icon btn btn-link mx-2 my-auto btn-xs" data-toggle="collapse" data-target="#collapseFiles-<%= post.id%>" role="button" aria-expanded="false" aria-controls="collapseFiles">
                Display Attachments
              </button>
            <% end %>

            <% if post.include_location%>
              <button class="post-icon btn btn-link mx-2 my-auto btn-xs" data-toggle="collapse" data-target="#collapseMap-<%= post.id%>" role="button" aria-expanded="false" aria-controls="collapseMap">
                View location on map
              </button>
            <% end %>

          </div>


        </div>
        <div class="form-inline card-footer-container my-auto">
          <div class="btn-group-xs form-inline">

              <% if user_signed_in? %>

              <%=form_for :validation, :url => {:controller => "validations", :action => "create"} do |comment_form| %>
                <%= comment_form.text_field :user_id, value:current_user.id, type:"hidden" %>
                <%= comment_form.text_field :post_id, value:post.id, type:"hidden" %>


                    <%= comment_form.submit value:"like", name:"validation[validation_type]", class:"btn btn-default"%>
                    <i class="fa fa-thumbs-up" data-tooltip="tooltip" title="<%= hover_likes_value %>" aria-hidden="true"> </i><%= likes_count %>

                    <%= comment_form.submit value:"dislike", name:"validation[validation_type]", class:"btn btn-default"%>
                    <i class="fa fa-thumbs-down" data-tooltip="tooltip" title="<%= hover_dislikes_value %>" aria-hidden="true"> </i><%= dislikes_count %>

              <% end %>

              <%= form_for :shared_post, :url => {:controller => "shared_posts", :action => "create"} do |shared_post_form| %>
                <%= shared_post_form.text_field :post_id, value: post.id, type:"hidden" %>
                <%= shared_post_form.text_field :user_id, value: current_user.id, type:"hidden" %>
                <% if current_user.id != post.user.id %>
                  <i class="fa fa-retweet ml-4" data-tooltip="tooltip" title="<%= hover_shares_value %>" aria-hidden="true"></i><%= submit_tag "Reshare:", :class => "post-icon btn btn-default btn-xs" %></i><%= shares_count %>
                <% else %>
                  <i class="fa fa-retweet ml-4" data-tooltip="tooltip" title="<%= hover_shares_value %>" aria-hidden="true"></i>Reshare:<%= shares_count %>
                <% end %>

              <% end %>

          <% else %>
              <i class="fa fa-thumbs-up" data-tooltip="tooltip" title="<%= hover_likes_value %>" aria-hidden="true"> </i><small> like:</small><%= likes_count %>
              <i class="fa fa-thumbs-down" data-tooltip="tooltip" title="<%= hover_dislikes_value %>" aria-hidden="true"></i><small> dislike:</small><%= dislikes_count %>
              <i class="fa fa-retweet" data-tooltip="tooltip" title="<%= hover_shares_value %>" aria-hidden="true"></i>Reshare:<%= shares_count %>
            <% end %>


                <a class="post-icon btn btn-default btn-xs" data-toggle="collapse" href="#collapseComment-<%= post.id %>" role="button" aria-expanded="false" aria-controls="collapseComment"><i class="fa fa-comment" aria-hidden="true"></i>
                  Comment: <%= post.comments.count %></a>
                </div>
                </div>
<!--                <div style="height: 40px;"></div>-->
                <div class="file-container collapse" id="collapseFiles-<%= post.id %>">
                  <div class="h2 text-dark">Attachments</div>
                  <% post.attachments.each do |attachment| %>
                    <%= link_to attachment.filename, rails_blob_path(attachment, disposition: 'attachment') %><br>
                  <% end %>
                </div>
                <br>
                <div class="file-container collapse" id="collapseMap-<%= post.id %>">
                  <div class="h2 text-dark">Map</div>
<!--                  <p><%#= post.city %>, <%#= post.country %></p>-->
                  <p><%= post.gps_location %></p>

                  <% key = "AIzaSyCPyzjsnZ320er0gU62rJG9FhyrMwf3v98" %>
                  <% if not post.location.nil? %>
                    <script>
                        document.addEventListener("DOMContentLoaded", function(){
                            initMap(<%=post.location.latitude%>, <%=post.location.longitude%>, <%=post.location.id %>)
                        });
                    </script>
                    <p>
                      <div class="map" id=<%="map-"+post.location.id.to_s %>></div>
                    </p>
                  <% end %>
                </div>
                <br>
                <% if post.images.attached? %>
                  <div class="image-container collapse" id="collapseImages-<%= post.id %>">
                    <div class="h2 text-dark">Images</div>
                    <div id="carouselExampleIndicatorsPost<%= post.id %>" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                        <% counter = 0 %>
                        <% post.images.each do |image| %>
                          <% if counter > 0 %>
                            <li data-target="#carouselExampleIndicatorsPost<%= post.id %>" data-slide-to="<%= counter %>"></li>
                          <% else %>
                            <li data-target="#carouselExampleIndicatorsPost<%= post.id %>" data-slide-to="<%= counter %>" class="active"></li>
                          <% end %>
                          <% counter += 1 %>
                        <% end %>
                      </ol>
                      <div class="carousel-inner">
                        <% counter_2 = 0 %>
                        <% post.images.each do |image| %>
                          <% if counter_2 > 0 %>
                            <div class="carousel-item">
                              <%= image_tag(url_for(image), class: "d-block w-100", alt: "image-" + counter.to_s) %>
                            </div>
                          <% else %>
                            <div class="carousel-item active">
                              <%= image_tag(url_for(image), class: "d-block w-100", alt: "image-" + counter.to_s) %>
                            </div>
                          <% end %>
                          <% counter_2 += 1 %>
                        <% end %>
                      </div>
                      <a class="carousel-control-prev" href="#carouselExampleIndicatorsPost<%= post.id %>" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselExampleIndicatorsPost<%= post.id %>" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
                <% end %>



        <div class="comment-container collapse col" id="collapseComment-<%= post.id %>">
                  <div class="h5 text-dark">Comments</div>
                  <% if (post.is_open) %>
                    <% if user_signed_in? %>

                      <%=form_for :comment, :url => {:controller => "comments", :action => "create"} do |comment_form| %>
                          <%= comment_form.text_field :user_id, value:current_user.id, type:"hidden" %>
                          <%= comment_form.text_field :post_id, value:post.id, type:"hidden" %>
                          <%= comment_form.text_area :content, class:"form-control", placeholder:"Enter Comment...", required: true  %>
                          <%= comment_form.submit value:"Publish", class:"btn btn-outline-dark my-1", style:"float-right"%>
                      <% end %>

                      <% end %>
                  <% end %>

                  <% this_post_comments = @comments.where(post_id: post.id) %>
                  <% this_post_comments.each do |comment| %>

                    <hr class="my-3">
                    <% comment_user = User.find(comment.user_id) %>
                    <div class="comment-container my-3">
                      <div class="card card-default">

                        <div class="card-header">
                          <div class="card-heading-container row">
                            <div class="left-elements row m-2 pull-left">



                              <% if not comment_user.profile.image.attached? %>
                                <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-dark">
                              <% else %>
                                <%= image_tag comment_user.profile.image.variant(combine_options: {resize:'100x100', gravity: "Center", crop: '50x50+0+0' }), :class => "my-auto mx-4 rounded-circle border border-dark"%>
                              <% end %>



                              <% if(not comment_user.profile.nil?) %>
                                <a data-turbolinks='false' class="p text-dark mx-2 my-auto" href="<%= user_profile_view_path(user_profile_id: comment_user.profile.id) %>"><%= comment_user.get_name %></a>
                              <% else %>
                                <a><%= comment_user.get_name %></a>
                              <% end %>

                            </div>

                            <% if (current_user != nil) %>
                              <% if comment.user.id == current_user.id && post.is_open %>
                                <div class="dropdown" style="float: right;">
                                  <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="<%= edit_comment_path(id: comment.id) %>">Edit</a>
                                  </div>
                                </div>
                              <% end end %>
                          </div>
                        </div>

                        <div class="card-body">


                          <% if comment.tags.length > 0 %>
                            <div class="form-inline">
                              <div class="small text-secondary mr-2">tags:</div>
                              <% comment.tags.each do |tag| %>
                                <a data-turbolinks='false' class="btn-link small text-dark mr-2" href=<%= user_profile_view_path(user_profile_id: tag.user.profile.id) %>><%= tag.user.name %> <%= tag.user.last_name %></a>
                              <% end %>
                            </div>
                            <hr>
                          <% end %>

                          <div class="p text-secondary"><%= comment.content %></div>

                          <div class="comment-container collapse mu-2" id="new-comment-reply-modal-<%= comment.id %>">
                            <div class="new-comment-container col mx-1">
                              <% if user_signed_in? %>

                                <%=form_for :comment, :url => {:controller => "comments", :action => "create"} do |comment_form| %>
                                  <%= comment_form.text_field :user_id, value:current_user.id, type:"hidden" %>
                                  <%= comment_form.text_field :post_id, value:post.id, type:"hidden" %>
                                  <%= comment_form.text_field :comment_id, value:comment.id, type:"hidden" %>
                                  <%= comment_form.text_area :content, class:"form-control", placeholder:"Enter Comment...", required: true  %>
                                  <%= comment_form.submit value:"Publish", class:"btn btn-outline-dark my-1", style:"float-right"%>
                                <% end %>

                                <% end %>
                            </div>
                          </div>

                          <% if post.is_open %>
                            <button style="float: right;" class="btn btn-link mu-2" data-toggle="collapse" data-target="#new-comment-reply-modal-<%= comment.id %>">Reply</button>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="reply-container my-2">
                      <% this_replies = @replies.where(comment_id: comment.id) %>
                      <% this_replies.each do |reply| %>
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-10 mt-2">
                            <div class="card card-default">
                              <div class="card-body">
                                <div class="col">
                                  <div class="p text-secondary">
                                    <% if current_user != nil %>
                                      <% if reply.user.id == current_user.id && post.is_open %>
                                        <div class="dropdown" style="float: right;">
                                          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                                          <% if post.is_open %>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<!--                                              <a class="dropdown-item" data-toggle="modal" data-target="#edit-comment-modal">Edit</a>-->
                                              <a class="dropdown-item" href="<%= edit_comment_path(id: reply.id) %>">Edit</a>
                                            </div>
                                          <% end %>
                                        </div>
                                      <% end end %>





                                    <a data-turbolinks='false' class="btn-link text-dark" href=<%= user_profile_view_path(user_profile_id: reply.user.profile.id) %>><%= reply.user.name %> <%= reply.user.last_name %></a>
                                    replying to
                                    <% if reply.reply.nil? %>
                                      <a data-turbolinks='false' class="btn-link text-dark" href=<%= user_profile_view_path(user_profile_id: comment.user.profile.id) %>><%= comment.user.name %> <%= comment.user.last_name %>
                                    <% else %>
                                      <a data-turbolinks='false' class="btn-link text-dark" href=<%= user_profile_view_path(user_profile_id: reply.reply.user.profile.id) %>><%= reply.reply.user.name %> <%= reply.reply.user.last_name %>
                                    <% end %>
                                      : </a>
                                    <%= reply.content %></div>


                                  <% if reply.tags.length > 0 %>
                                    <hr>
                                    <div class="form-inline">
                                      <div class="small text-secondary mr-2">tags:</div>
                                      <% reply.tags.each do |tag| %>
                                        <a data-turbolinks='false' class="btn-link small text-dark mr-2" href=<%= user_profile_view_path(user_profile_id: tag.user.profile.id) %>><%= tag.user.name %> <%= tag.user.last_name %></a>
                                      <% end %>
                                    </div>
                                  <% end %>

                                  <div class="comment-container collapse mu-2" id="new-reply-modal-<%= reply.id %>">
                                    <div class="new-comment-container col mx-1">
                                      <% if user_signed_in? %>
<!--                                      <form action="create_comment" method="post">-->
<!--                                        <div class="new-comment-container col mx-1">-->
<!--                                          <textarea name="comment[content]" class="w-100" style="max-height: 120px; min-height: 30px" placeholder="Enter comment"></textarea>-->
<!--                                          <input type="hidden" name="comment[user_id]" value="<%#= current_user.id %>">-->
<!--                                          <input type="hidden" name="comment[post_id]" value="<%#= post.id %>">-->
<!--                                          <input type="hidden" name="comment[comment_id]" value="<%#= reply.comment_id %>">-->
<!--                                          <button style="float: right;" type="submit" class="btn btn-outline-dark mu-4">Publish</button>-->
<!--                                        </div>-->
<!--                                      </form>-->

                                        <%=form_for :comment, :url => {:controller => "comments", :action => "create"} do |comment_form| %>
                                          <%= comment_form.text_field :user_id, value:current_user.id, type:"hidden" %>
                                          <%= comment_form.text_field :post_id, value:post.id, type:"hidden" %>
                                          <%= comment_form.text_field :comment_id, value:reply.comment.id, type:"hidden" %>
                                          <%= comment_form.text_field :reply_id, value:reply.id, type:"hidden" %>
                                          <%= comment_form.text_area :content, class:"form-control", placeholder:"Enter Comment...", required: true  %>
                                          <%= comment_form.submit value:"Publish", class:"btn btn-outline-dark my-1", style:"float-right"%>
                                        <% end %>

                                        <% end %>
                                    </div>
                                  </div>
                                  <% if post.is_open %>
                                    <button style="float: right;" class="btn btn-link mu-2" data-toggle="collapse" data-target="#new-reply-modal-<%= reply.id %>">Reply</button>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>

                </div>
                </div>
                </div>
                </div>

                <!-- The Modal -->
<!--                <div class="modal fade" id="report-modal">-->
<!--                  <div class="modal-dialog modal-md">-->
<!--                    <div class="modal-content">-->

<!--                      <div class="modal-header">-->
<!--                        <div class="h4">Report Post</div>-->
<!--                      </div>-->
<!--                      <div class="modal-body row">-->
<!--                        <div class="col-12">-->
<!--                          <textarea class="w-100 min-x" style="min-height: 130px; max-height: 250px;"></textarea>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="modal-footer">-->
<!--                        <button class="btn btn-dark">Report</button>-->
<!--                      </div>-->

<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

                <div class="modal fade" id="edit-comment-modal">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">

                      <div class="modal-header">
                        <div class="h4">Edit Comment</div>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body row">
                        <div class="col-12">
                          <textarea class="w-100 min-x" style="min-height: 130px; max-height: 250px;"></textarea>
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button class="btn btn-dark">Save Changes</button>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="modal fade" id="display-images-modal">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">

                      <div class="modal-header">
                        <div class="h4">Images</div>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body row">
                        <div class="col-12">
                          <div class="h4 text-dark">In the final version images will be shown in this modal</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="modal fade" id="display-attachments-modal">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">

                      <div class="modal-header">
                        <div class="h4">Attachments</div>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body row">
                        <div class="col-12">
                          <div class="h4 text-dark">In the final version attachments will be shown in this modal
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="modal fade" id="display-map-modal">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">

                      <div class="modal-header">
                        <div class="h4">Location</div>
                      </div>
                      <!-- Modal body -->
                      <div class="modal-body row">
                        <div class="col-12">
                          <div class="h4 text-dark">In the final version the map will be shown in this modal</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

<% if user_signed_in? %>
  <div class="modal" id="report-modal-post-id-<%= post.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Report post</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :report, :url => {:controller => "reports", :action => "create"} do |report_form| %>
          <%= report_form.text_field :user_id, value: current_user.id, type: "hidden" %>
          <%= report_form.text_field :post_id, value: post.id, type: "hidden" %>
          <div class="modal-body">
            Why you want to mark the post <b><%= post.title %></b> by <b><%= post.user.email %></b> as inappropiate?
            <%= report_form.text_area :content, class:"form-control", placeholder: "Write a short comment for justification...", required: true, minlength: "5" %>
          </div>
          <div class="modal-footer">
            <%= report_form.submit value:"Report", class:"btn btn-warning my-1", style:"float-right"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
