<div class="container-fluid">
  <div class="col">
    <div class="card card-default mt-1">
      <div class="card-header">
        <div class="card-heading-container">
          <div class="row justify-content-between">
            <div class="meta col-10">
              <div class="form-inline">
                <a data-turbolinks='false' class="p small text-dark my-auto mx-2" href="<%= user_profile_view_path(user_profile_id:post.user.profile.id) %>"><%=post.user.name %> <%=post.user.last_name %></a>
<!--                <a class="p small text-secondary my-auto mx-1"  data-toggle="modal" data-target="#show-post-modal"-->
<!--                   data-btn-type="show-post"-->
<!--                   data-post-obj="<%#= @post %>"><%#=post.title %></a>-->
                <a data-turbolinks='false' class="p small text-secondary my-auto mx-1" href="<%= watch_path(post_id:post.id) %>"><%=post.title %></a>
              </div>
              <p class="p small text-secondary mx-2">Last Update:<%=post.updated_at %></p>
            </div>
            <!--                  <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>-->

            <div class="col-2 dropdown">
              <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <% if user_signed_in? %>
                  <% follow = Follow.where(user_id:current_user.id, post_id:post.id)[0] %>
                  <% if not follow.nil? %>
                    <%= form_for follow, method: :delete do |follow_form|%>
                      <%= follow_form.submit value:"Unfollow Post", class:"dropdown-item"%>
                    <% end %>
                  <% end %>
                <% end %>

                <hr>
                <%if ($current_user != nil) %>
                  <% if($current_user.id == post.user.id) %>
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <hr>
              <% end  end%>

                <a class="dropdown-item" href="" data-toggle="modal" data-target="#report-modal-post-id-<%= post.id %>">Report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <div class="modal" id="report-modal-post-id-<%= post.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Report post</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <%= form_for :report, :url => {:controller => "reports", :action => "create"} do |pill_report_form| %>
          <%= pill_report_form.text_field :user_id, value: current_user.id, type: "hidden" %>
          <%= pill_report_form.text_field :post_id, value: post.id, type: "hidden" %>
          <div class="modal-body">
            Why you want to mark the post <b><%= post.title %></b> by <b><%= post.user.email %></b> as inappropiate?
            <%= pill_report_form.text_area :content, class:"form-control", placeholder: "Write a short comment for justification...", required: true, minlength: "5" %>
          </div>
          <div class="modal-footer">
            <%= pill_report_form.submit value:"Report", class:"btn btn-warning my-1", style:"float-right"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
