<%= form_with(model: follow_user, local: true) do |form| %>
  <% if follow_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follow_user.errors.count, "error") %> prohibited this follow_user from being saved:</h2>

      <ul>
      <% follow_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :request_user_id %>
    <%= form.text_field :request_user_id %>
  </div>

  <div class="field">
    <%= form.label :followed_user_id %>
    <%= form.text_field :followed_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
