<p id="notice"><%= notice %></p>

<p>
  <strong>Request user:</strong>
  <%= @follow_user.request_user %>
</p>

<p>
  <strong>Followed user:</strong>
  <%= @follow_user.followed_user %>
</p>

<%= link_to 'Edit', edit_follow_user_path(@follow_user) %> |
<%= link_to 'Back', follow_users_path %>
