<%= form_with(model: tag_user_post, local: true) do |form| %>
  <% if tag_user_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_user_post.errors.count, "error") %> prohibited this tag_user_post from being saved:</h2>

      <ul>
      <% tag_user_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.text_field :post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
