<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tag_user_post.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @tag_user_post.post %>
</p>

<%= link_to 'Edit', edit_tag_user_post_path(@tag_user_post) %> |
<%= link_to 'Back', tag_user_posts_path %>
