<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @validation.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @validation.post %>
</p>

<p>
  <strong>Validation type:</strong>
  <%= @validation.validation_type %>
</p>

<%= link_to 'Edit', edit_validation_path(@validation) %> |
<%= link_to 'Back', validations_path %>
