<html>
<body>
<div class="mainbody container-fluid">
  <div class="row">
    <!--    Profile Information-->
    <div class="col-3">
      <div class="card card-default">
        <div class="card-body justify-content-center">
          <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="100vw" height="100vw">
          <h3><%= @user.name %> <%= @user.last_name %></h3>
          <a class="text-primary" href="<%=user_profile_modify_path %>">Edit Profile</a>
          <hr>
          <h4>Biography</h4>
          <div class="p text-secondary"><%= @user_profile.biography %></div>
          <hr>
          <h4>Location</h4>
          <div class="p text-secondary"><%= @user_profile.city %>, <%= @user_profile.country %></div>

        </div>
      </div>
    </div>


    <!--    Posts-->
    <div class="col">
      <h2>Recent Posts</h2><hr>
      <!-- Simple post content example. -->
      <div class="card card-default">
        <div class="card-header">
          <div class="row my-auto">
            <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">
            <a class="p text-primary mx-2 my-auto" href="#"><%= @user.name %> <%= @user.last_name %></a>
            <div class="p text-secondary mx-2 my-auto"><%= @user_posts.title %></div>
          </div>
        </div>
        <div class="card-body">
          <div class="p text-secondary"><%= @user_posts.content %></div>
<!--          <div class="p text-secondary"> Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post!</div>-->
<!--          <div class="p text-secondary"> Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post!</div>-->

          <hr>
          <div class="card-footer-container my-auto">
            <div class="pull-right btn-group-xs">
              <a class="btn btn-default btn-xs"><i class="fa fa-angle-up" aria-hidden="true"></i> Like</a>
              <a class="btn btn-default btn-xs"><i class="fa fa-angle-down" aria-hidden="true"></i> Dislike</a>
              <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
              <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
            </div>
            <div class="pull-left">
              <h5 class="text-secondary mx-2"> 5, May 2019</h5>
            </div>
          </div>

        </div>

        </nav>

      </div>

    </div>
    <div class="col-3">
      <h2>Recent Activity</h2><hr>
      <!-- Simple post content example. -->
      <div class="card card-default">
        <div class="card-header">
          <div class="row my-auto">
            <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-4 rounded-circle border border-primary">
            <a class="p text-primary mx-2 my-auto" href="#">Matías Cánepa</a>
            <div class="p text-secondary mx-2 my-auto">Post's Title</div>
          </div>
        </div>
        <div class="card-body">
          <div class="p text-secondary"> Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post!</div>
          <div class="p text-secondary"> Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post!</div>
          <div class="p text-secondary"> Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post! Hello World! This is my Post!</div>

          <hr>
          <div class="card-footer-container my-auto">
            <div class="pull-right btn-group-xs">
              <a class="btn btn-default btn-xs"><i class="fa fa-angle-up" aria-hidden="true"></i> Like</a>
              <a class="btn btn-default btn-xs"><i class="fa fa-angle-down" aria-hidden="true"></i> Dislike</a>
              <a class="btn btn-default btn-xs"><i class="fa fa-retweet" aria-hidden="true"></i> Reshare</a>
              <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
            </div>
            <div class="pull-left">
              <h5 class="text-secondary mx-2"> 5, May 2019</h5>
            </div>
          </div>

        </div>

        </nav>

      </div>

    </div>
  </div>
</div>
</body>
</html>