<html>
<body>
<div class="mainbody container-fluid">
  <div class="row">
    <!--    Profile Information-->
    <div class="col-3">
      <div class="card card-default">
        <div class="card-body justify-content-center">
          <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="100vw" height="100vw">
          <h3><%= @user_profile.user.name %> <%= @user_profile.user.last_name %></h3>
          <a class="text-primary" href="<%=user_profile_modify_path %>">Edit Profile</a>
          <hr>
          <h4>Biography</h4>
          <div class="p text-secondary"><%= @user_profile.biography %></div>
          <hr>
          <h4>Location</h4>
          <div class="p text-secondary"><%= @user_profile.city %>, <%= @user_profile.country %></div>

        </div>
      </div>
    </div>


    <!--    Posts-->
    <div class="col">
      <h2>Recent Posts</h2><hr>
      <!-- Simple post content example. -->
      <% @user_profile.user.posts.each do |post| %>
        <%= render "posts/post_view", post: post %>
      <% end %>

    </div>

<!--    Recent Activity-->
    <div class="col-4">
      <h2>Recent Activity</h2><hr>
      <div class="Following-Posts">
        <% @vals.each do |action| %>
          <div class="container-fluid">
            <div class="col">
              <div class="card card-default mt-1">
                <div class="card-header">
                  <div class="card-heading-container">
                    <div class="row justify-content-between">

                      <div class="meta col-10">
                        <div class="form-inline">

                          <%
                            content = ""
                            if(action.is_a?(Validation))
                              content = action.validation_type+"d"
                            else
                              content = "shared"
                            end
                          %>

                          <a class="p small text-primary my-auto mx-2" href="<%= user_profile_view_path(user_id:@user_profile.user.id) %>"><%= @user_profile.user.name %> <%= @user_profile.user.last_name %></a>
                          <p class="p small text-secondary my-auto mx-1"><%=content%></p>
                          <a class="p small text-secondary my-auto mx-1" href="#"><%= action.post.title %></a>
                          <br><p class="p small text-secondary mx-2"><%= action.updated_at %></p>
                        </div>
                      </div>
                      <!--                  <i class="fa fa-angle-down mx-2 my-auto pull-left" aria-hidden="true"></i>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end %>
      </div>

    </div>
  </div>
</div>



</body>
</html>