<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @report.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @report.post %>
</p>

<p>
  <strong>Content:</strong>
  <%= @report.content %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
