<p id="notice"><%= notice %></p>

<h1>Validations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @validations.each do |validation| %>
      <tr>
        <td><%= validation.user %></td>
        <td><%= validation.post %></td>
        <td><%= validation.type %></td>
        <td><%= link_to 'Show', validation %></td>
        <td><%= link_to 'Edit', edit_validation_path(validation) %></td>
        <td><%= link_to 'Destroy', validation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Validation', new_validation_path %>
