<head>

  <%= javascript_include_tag 'js_profile'%>
  <% key = "AIzaSyCPyzjsnZ320er0gU62rJG9FhyrMwf3v98" %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+key %>

</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@location.latitude%>, <%=@location.longitude%>, <%=@location.id %>)
    });
</script>
<p>
<div class="map" id=<%="map-"+@location.id.to_s %>></div>
</p>