<!DOCTYPE html>
<html>
  <head>
    <title>AngryLusho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg bg-light justify-content-between">
    <a class="navbar-brand" href="http://localhost:3000">
      AngryLusho
    </a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form>
    <div class="nav-item">
      <form class="form-inline">
        <button class="btn btn-outline-dark" type="submit">Admin</button>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" style="border-radius: 100%">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="http://localhost:3000/profiles">View profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://localhost:3000">Log out</a>
          </div>
        </div>
      </form>
    </div>
    <div class="nav-item">
      <form class="form-inline">
        <button class="btn btn-outline-primary mr-sm-2" type='button' onclick="location.href='<%= login_page_path %>';">Login</button>
        <button class="btn btn-outline-primary" type="submit">Sign Up</button>
      </form>
    </div>
  </nav>
    <%= yield %>
  <footer class="footer">
    <nav class="navbar navbar-expand-lg bg-light justify-content-end">
      <div class="nav-item">
        <a class="nav-link" href="">Acceptable Use Policy</a>
      </div>
      <div class="nav-item">
        <a class="nav-link" href="">Terms of Service</a>
      </div>
    </nav>
  </footer>
  </body>
</html>


