<!DOCTYPE html>
<html>
  <head>
    <title>AngryLusho</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type = "text/javascript" src = "js_admin.js" ></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if $user_type == 1 %>
  <nav id="navbar-app" class="navbar navbar-expand-lg bg-light justify-content-between fixed-top">
    <a class="navbar-brand" href="/">AngryLusho <small>admin</small></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
      <a class="btn btn-outline-primary" href="<%= search_path %>" type="submit">Search</a>
    </form>
    <div class="nav-item">
      <form class="form-inline">
        <a href="<%= admin_view_path %>" class="btn btn-outline-dark" role="button">Admin</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-1 rounded-circle border border-primary">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item">
              <h6>Juan y To<br>
                <small>juanito@miuandes.cl</small>
              </h6>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= user_profile_view_path %>">View profile</a>
            <a class="dropdown-item" onclick="startGuestUser()">Log out</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <% elsif $user_type == 2 %>
  <nav id="navbar-app" class="navbar navbar-expand-lg bg-light justify-content-between fixed-top">
    <a class="navbar-brand" href="/">AngryLusho</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
      <a class="btn btn-outline-primary" href="<%= search_path %>" type="submit">Search</a>
    </form>
    <div class="nav-item">
      <form class="form-inline">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png" class="my-auto mx-1 rounded-circle border border-primary">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-item">
              <h6>Juan y To<br>
                <small>juanito@miuandes.cl</small>
              </h6>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= user_profile_view_path %>">View profile</a>
            <a class="dropdown-item" onclick="startGuestUser()">Log out</a>
          </div>
        </div>
      </form>
    </div>
  </nav>
  <% elsif $user_type == 3 %>
    <nav id="navbar-app" class="navbar navbar-expand-lg bg-light justify-content-between fixed-top">
      <a class="navbar-brand" href="/">AngryLusho</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
        <a class="btn btn-outline-primary" href="<%= search_path %>" type="submit">Search</a>
      </form>
      <div class="nav-item">
        <form class="form-inline">
          <a href="<%= session_login_path %>" class="btn btn-outline-primary mr-sm-2" role="button">Log in</a>
          <a href="<%= session_sign_up_path %>" class="btn btn-outline-primary" role="button">Sign Up</a>
        </form>
      </div>
    </nav>
  <% end %>
 <div id="page-app" class="page-content">
    <%= yield %>
    </div>
  <footer id="footer-app" class="footer">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="nav-item">
        <button id="admin-start-button" onclick="startAdmin()" class="btn btn-outline-danger">View like admin</button>
      </div>
      <div class="nav-item">
        <button id="regular-user-start-button" onclick="startRegularUser()" class="btn btn-outline-danger">View like regular user</button>
      </div>
      <div class="nav-item">
        <button id="guest-user-start-button" onclick="startGuestUser()" class="btn btn-outline-danger">View like guest user</button>
      </div>
      <div class="nav-item mr-auto">
        <% if $user_type == 1 %>
          Admin <small>view</small>
        <% elsif $user_type == 2 %>
          Regular user <small>view</small>
        <% elsif $user_type == 3 %>
          Guest user <small>view</small>
        <% end %>
        (See README)
      </div>
      <div class="nav-divider"></div>
      <div class="nav-item">
        <a class="nav-link text-primary" data-toggle="modal" data-target="#tos-modal">Acceptable Use Policy</a>
      </div>
      <div class="nav-item">
        <a class="nav-link text-primary" data-toggle="modal" data-target="#tos-modal">Terms of Service</a>
      </div>
    </nav>
  </footer>
  </body>
</html>



<div class="modal" id="tos-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Term of Service</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="remove-from-dumpster-modal-body">
        <p>Content of TOS.</p>
      </div>

    </div>
  </div>
</div>
<div class="modal" id="aup-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Acceptable Use Policy</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" id="remove-from-dumpster-modal-body">
        <p>Content of AUP.</p>
      </div>

    </div>
  </div>
</div>
